h1 {
	color: #582900;
	font-size: 40px;
	background: white; 
	text-align: center;
	font-family: arapey;
}				

h2{
	color: #582900; 
	font-size: 20px;
	background: white;
    text-align: center;
	font-family: arapey;
}

h3,ul {
	text-align: left;
	font-family: arapey;
}

h4{
    color: #582900;
    font-size: 20px;
    font-family: arapey;
}

h5{
	color: black;
	background: white;
	font-size: 20px;
	font-family: arapey;
}

body{
	background: white;
	font-family: arial;
}

.tarte{
	text-align: center;
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #582900;
}

.logo{
	width: 150px
}

.link{
	display: flex;
	justify-content: flex-end;
	justify-content: space-between;
	color: white;
	font-size: 20px;
	font-family: arapey;
}

.link{
	margin: 10px 30px;
	color: white;
}
.modalfade{
	color: pink;
	font-family: arapey;
}

.link:hover{
	color: black
}
.production{
	width: 300px;
	height: 200px;
	object-fit: cover;
}
.prod{
	text-align: center;
}

.video{
	text-align: center;
}

.map{
	text-align: : center;
}

.my-btn {
	background: #582900;
}